canvas {
    border:1px solid black;
  margin-top: 160px;
}
h3{
  animation-name: eg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: black;
}
@keyframes eg{
  from {box-shadow: 1px 1px 15px darkblue;}
  to {box-shadow: 1px 1px 15px  brown;}
}